################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MassTransient.InMemory/bin/Debug/net8.0
/MassTransient.InMemory/obj
